{% extends 'base.html.twig' %}

{% block title %}Stations{% endblock %}

{% block body %}
    <div id="stations" class="row row-cols-3 gy-4">
        {% if stations is empty %}
            <div class="alert alert-warning" role="alert">No stations found!</div>
        {% endif %}
        {% for station in stations %}
            <div class="col">
                <div id="{{ station.id }}" class="card">
                    <div class="card-body">
                        <h5 class="text-truncate"><a href="{{ path('app_stations_show', {'uuid': station.id }) }}">{{ station.name }}</a></h5>
                        <h6 class="card-subtitle text-muted">{{ station.brand|default(' ') }}</h6>
                        <address class="card-text">
                            {{ station.address.street }} {{ station.address.houseNumber }}<br />
                            {{ station.address.postCode }} {{ station.address.city }}
                        </address>
                    </div>

{#                    <div class="card-body">#}
{#                        <%= link_to "Show this station", station, class: "card-link" %>#}
{#                    </div>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
